<template>
  <v-layout id="drill" ref="drill" v-resize="onResize" column align-center>
    <div ref="field"></div>
  </v-layout>
</template>

<script>
import { mapState } from 'vuex'
import * as PIXI from 'pixi.js'
import { Fraction, ft, yd, styles, graphics } from '../field.js'

export default {
  metaInfo: {
    title: 'Drill'
  },
  data () {
    return {
      app: {},
      performers: [],
      selected: {},
      isDark: false,
      theme: 'default'
    }
  },
  computed: {
    ...mapState({seasons: state => state.database.seasons})
  },
  methods: {
    onResize () {
      // Don't resize before Pixi has initialized
      if (this.app.renderer) {
        this.app.renderer.resize(this.$refs.drill.clientWidth, this.$refs.drill.clientHeight)
      }
    },
    drawGraphic (graphic) {
      if (typeof graphic === 'string') {
        // Top-level graphic (container)
        const container = new PIXI.Container()
        for (let g of graphics[graphic]) {
          container.addChild(this.drawGraphic(g))
        }
        container.name = graphic
        return container
      } else {
        // Primitive or graphic
        const style = styles[this.theme][this.isDark ? 'dark' : 'light'][graphic.style] || styles[this.theme][this.isDark ? 'dark' : 'light'].default
        style.strokeWidth = new Fraction(style.strokeWidth).valueOf()

        let drawMethod, drawArgs

        switch (graphic.type) {
          case 'graphic':
            // TODO: Combine all primitives into one graphic drawing
            const container = new PIXI.Container()
            for (let pos of graphic.pos) {
              const g = this.drawGraphic(graphic.graphic)
              g.position.x = new Fraction(pos.x).valueOf()
              g.position.y = new Fraction(pos.y).valueOf()
              container.addChild(g)
            }
            container.name = graphic.name
            return container
          case 'rectangle':
            // Use the drawRoundedRect method if graphic.r (radius) exists
            drawMethod = graphic.r ? 'drawRoundedRect' : 'drawRect'
            drawArgs = [graphic.x, graphic.y, graphic.w, graphic.h, graphic.r]
            break
          case 'circle':
            drawMethod = 'drawCircle'
            drawArgs = [graphic.x, graphic.y, graphic.r]
            break
          case 'ellipse':
            drawMethod = 'drawEllipse'
            drawArgs = [graphic.x, graphic.y, graphic.w, graphic.h]
            break
          case 'line':
            const line = new PIXI.Graphics()
              .lineStyle(style.strokeWidth, style.stroke)
              .moveTo(graphic.x1, graphic.y1)
              .lineTo(graphic.x2, graphic.y2)
            line.name = graphic.name
            return line
          case 'polygon':
            drawMethod = 'drawPolygon'
            drawArgs = [graphic.path]
            break
          case 'text':
            const textStyle = new PIXI.TextStyle({
              fontFamily: style.fontFamily || 'Arial',
              fontSize: style.fontSize || 26, // In pixels
              fontStyle: style.fontStyle || 'normal', // 'normal', 'italic', or 'oblique'
              fontWeight: style.fontWeight || 'normal', // 'normal', 'bold', 'bolder', 'lighter', or '100'-'900'
              fill: style.fill.toString(16).padStart(7, '#000000'), // Convert raw integer to hex color string
              stroke: style.stroke.toString(16).padStart(7, '#000000'),
              strokeThickness: style.strokeWidth || 0
            })
            return new PIXI.Text(graphic.text, textStyle)
          default:
            console.warn('Failed to draw', container, graphic)
            return
        }

        // Rectangles, circles, ellipses, and polygons use almost identical code
        const primitive = new PIXI.Graphics()
          .lineStyle(style.strokeWidth, style.stroke)
          .beginFill(style.fill)[drawMethod](...drawArgs)
          .endFill()
        primitive.name = graphic.name
        return primitive
      }
    },
    drawField () {
      /* const field = new PIXI.Container()
      for (const graphic of graphics.field) {
        drawGraphic(field, graphic)
      } */

      this.app.stage.addChild(this.drawGraphic('field'))
      // field.getChildByName('turf').visible = false

      // 1 pixel = 1 inch
      const scale = 0.2
      this.app.stage.scale.x = scale
      this.app.stage.scale.y = scale
      this.app.stage.position.x = scale * yd(62)
      this.app.stage.position.y = scale * ft(166)

      /* // Step grid
      for (let y = 1; y < 85.3; y++) {
        if (y % 8) {
          this.svg.append('line')
            .attr('x1', -FIELD.width / 2 + 30)
            .attr('y1', -y * 1.875)
            .attr('x2', FIELD.width / 2 - 30)
            .attr('y2', -y * 1.875)
            .classed('field-grid field-step-lines', true);
        }
      }
      for (let x = -79; x < 80; x++) {
        if (x % 8) {
          this.svg.append('line')
            .attr('x1', x * 1.875)
            .attr('y1', 0)
            .attr('x2', x * 1.875)
            .attr('y2', -FIELD.height)
            .classed('field-grid field-step-lines', true);
        }
      }

      // Zero grid
      for (let y = 15; y < 160; y += 15) {
        this.svg.append('line')
          .attr('x1', -FIELD.width / 2 + 30)
          .attr('y1', -y)
          .attr('x2', FIELD.width / 2 - 30)
          .attr('y2', -y)
          .classed('field-grid field-zero-lines', true);
      }

      // Yard lines
          let drawText = (x, y, size, dir, text, type) => {
            d3.select(this).append('text')
              .text(text)
              .attr('x', x)
              .attr('y', -y)
              .attr('text-anchor', 'middle')
              .attr('transform', `rotate(${dir * 180},${x},${-y})`)
              .classed(`field-${type} field-numbers`, true);
          };

          // Yard numbers
          if (i && (i < yardlines.length - 1) && (i % 2 === 0)) {
            for (let type in FIELD.numbers.top) {
              let arr = [FIELD.numbers.top[type] - FIELD.numbers.height];
              arr.push(FIELD.height - arr[0]);

              for (let v in arr) {
                drawText(0, arr[v], FIELD.numbers.height, v, 50 - Math.abs(yardlines[i] * 5 / 8), type);
              }
            }
          }
        })
        .exit().remove();

      // Zero points
      for (let y = 15; y < 160; y += 15) {
        if (y !== FIELD.hashes.front.college) {
          for (let x = -FIELD.width / 2 + 30; x <= FIELD.width / 2 - 30; x += 15) {
            this.svg.append('circle')
              .attr('r', 0.125)
              .attr('cx', x)
              .attr('cy', -y)
              .classed('field-grid field-zero-points', true);
          }
        }
      } */
    }
  },
  mounted () {
    this.app = new PIXI.Application({
      antialias: true,
      transparent: true,
      forceCanvas: true // TODO: Use WebGL
    })
    this.$refs.field.appendChild(this.app.view)
    this.drawField()
    this.app.renderer.view.style.display = 'block'
    this.app.renderer.autoResize = true
    this.onResize()
  }
}
</script>
