<template>
  <v-layout id="music">
    <pdf
    :src="src"
    :page="page"
    :rotate="rotation"
    @loaded="page = 1"
    @num-pages="numPages"
    d-block
    style="width: 100%"
    ></pdf>
    <!-- <v-layout justify-center>
      <v-pagination
      v-model="page"
      :length="pages"
      ></v-pagination>
    </v-layout> -->
  </v-layout>
</template>

<script>
import pdf from 'vue-pdf'
import { mapState } from 'vuex'

export default {
  metaInfo: {
    title: 'Music'
  },
  components: {
    pdf
  },
  data () {
    return {
      page: 0,
      pages: 0,
      rotation: 0
    }
  },
  computed: {
    ...mapState({
      season: state => state.directory.season,
      show: state => state.directory.show,
      act: state => state.directory.act
    }),
    src () {
      return this.season !== '' && this.show !== '' && this.act !== ''
        ? `/db/${this.season}/${this.show}/${this.act}/music/score.pdf`
        : ''
    }
  },
  methods: {
    numPages (pages) {
      this.pages = pages
    },
    /* changePage (page) {
      console.log('changed to page', page)
      this.page = page
    }, */
    onKeyDown (event) {
      if (event.key === 'ArrowLeft' && this.page > 1) {
        this.page--
      } else if (event.key === 'ArrowRight' && this.page < this.pages) {
        this.page++
      }
    }
  },
  created () {
    window.addEventListener('keydown', this.onKeyDown)
  },
  beforeDestroy () {
    window.removeEventListener('keydown', this.onKeyDown)
  }
}
</script>
