<template>
  <v-app id="app" :dark="isDark">
    <v-navigation-drawer app fixed clipped :permanent="$vuetify.breakpoint.smAndUp" width="200" :mini-variant-width="$vuetify.breakpoint.mdAndUp ? 64 : 56" v-model="drawer" :mini-variant.sync="isDrawerMini">
      <v-layout column fill-height>
        <v-list :class="{ 'py-0': $vuetify.breakpoint.smAndUp }">
          <v-list-tile @click.stop="$router.push('drill')">
            <v-list-tile-action>
              <v-icon>grain</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Drill</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click.stop="$router.push('music')">
            <v-list-tile-action>
              <v-icon>music_note</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Music</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click.stop="$router.push('tools')">
            <v-list-tile-action>
              <v-icon>widgets</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Tools</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click.stop="$router.push('settings')">
            <v-list-tile-action>
              <v-icon>settings</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Settings</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
        <v-spacer></v-spacer>
        <v-list v-if="this.$vuetify.breakpoint.smAndUp" class="py-0">
          <v-divider></v-divider>
          <v-list-tile @click.stop="isDrawerMini = !isDrawerMini">
            <v-list-tile-action>
              <v-icon>{{ isDrawerMini ? 'chevron_right' : 'chevron_left' }}</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Collapse</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-layout>
    </v-navigation-drawer>
    <v-toolbar app fixed clipped-left flat :extended="$vuetify.breakpoint.xs" dark color="primary">
      <v-btn v-if="$vuetify.breakpoint.smAndUp" icon @click.stop="$router.push('/')">
        <v-icon>polymer</v-icon>
      </v-btn>
      <v-toolbar-side-icon v-if="$vuetify.breakpoint.xs" @click.stop="drawer = !drawer"></v-toolbar-side-icon>
      <v-toolbar-title @click.stop="$router.push('/')">Downbeat</v-toolbar-title>
      <v-spacer></v-spacer>
      <div class="px-2" :slot="$vuetify.breakpoint.xs ? 'extension' : 'default'">
        Move
      </div>
      <div class="px-2" :slot="$vuetify.breakpoint.xs ? 'extension' : 'default'">
        32
      </div>
      <div class="px-2" :slot="$vuetify.breakpoint.xs ? 'extension' : 'default'">
        Follow the Leader
      </div>
      <v-btn icon :slot="$vuetify.breakpoint.xs ? 'extension' : 'default'">
        <v-icon>navigate_before</v-icon>
      </v-btn>
      <!-- <div :slot="$vuetify.breakpoint.xs ? 'extension' : 'default'">
        <v-menu offset-y>
          <v-btn
            slot="activator"
            flat
          >
            Subset
          </v-btn>
          <v-list>
            <v-list-tile
              v-for="(subset, index) in subsets"
              :key="index"
              @click=""
            >
              <v-list-tile-title>{{ subset.name }}</v-list-tile-title>
            </v-list-tile>
          </v-list>
        </v-menu>
      </div> -->
      <v-btn icon :slot="$vuetify.breakpoint.xs ? 'extension' : 'default'">
        <v-icon>navigate_next</v-icon>
      </v-btn>
      <!-- <v-divider vertical></v-divider> -->
      <v-dialog lazy v-model="isLoadDialogOpen" max-width="420">
        <v-card>
          <v-card-text>
            <v-layout column>
              <v-select
                v-model="season"
                :items="seasons"
                item-text="name"
                item-value="path"
                label="Season"
                return-object
                required
              ></v-select>
              <v-select
                v-model="show"
                :items="season.shows"
                item-text="name"
                item-value="path"
                label="Show"
                return-object
                required
              ></v-select>
              <v-select
                v-model="act"
                :items="show.acts"
                item-text="name"
                item-value="path"
                label="Act"
                return-object
                required
              ></v-select>
            </v-layout>
          </v-card-text>
          <v-divider></v-divider>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="accent" flat @click.native="isLoadDialogOpen = false">Cancel</v-btn>
            <v-btn color="accent" flat @click.native="load">Load</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <v-tooltip bottom open-delay="1000">
        <v-btn icon slot="activator" @click.stop="isLoadDialogOpen = true">
          <v-icon>folder</v-icon>
        </v-btn>
        <span>Load</span>
      </v-tooltip>
    </v-toolbar>
    <v-content>
      <v-container fluid fill-height class="pa-0">
        <router-view></router-view>
      </v-container>
    </v-content>
  </v-app>
</template>

<style lang="scss">
// $primary: #B8E986;
// $primary-invert: findColorInvert($primary);

// TODO: fix sizing/padding on mdAndUp breakpoints (64px wide drawer)
.v-navigation-drawer--mini-variant .v-list__tile__action {
  min-width: 24px !important;
}
</style>

<script>
import { mapState } from 'vuex'
import database from './database.js'

export default {
  name: 'Downbeat',
  metaInfo: {
    title: 'Downbeat',
    titleTemplate: '%s | Downbeat'
  },
  components: {},
  data () {
    return {
      drawer: null,
      isLoadDialogOpen: false,
      season: {},
      show: {},
      act: {}
    }
  },
  computed: {
    isDrawerMini: {
      get () {
        // Force non-mini drawer on xs breakpoint (mobile portrait)
        return this.$vuetify.breakpoint.smAndUp && this.$store.state.settings.isDrawerMini
      },
      set (value) {
        this.$store.dispatch(value ? 'settings/setDrawerMini' : 'settings/setDrawerNormal')
      }
    },
    ...mapState({
      isDark: state => state.settings.isDarkTheme,
      seasons: state => state.database.seasons
    })
  },
  watch: {
    season () {
      this.show = {}
      this.act = {}
    },
    show () {
      this.act = {}
    }
  },
  methods: {
    load () {
      // Only close modal if all three selections are made
      // TODO: add visual error indication/styling
      if (this.season.path && this.show.path && this.act.path) {
        // TODO: if selection is the same as already loaded document, only reset
        // drill and music to page 1 without re-loading any files
        this.$store.dispatch('changeDirectory', {
          season: this.season.path,
          show: this.show.path,
          act: this.act.path
        })
        this.isLoadDialogOpen = false
      }
    }
  },
  created () {
    this.$store.dispatch('changeDatabase', database)
  }
}
</script>
