html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background-color: #eee;
}

#drawing {
  /*display: none;*/
}

#status {
  padding: 16px;

  color: #fff;
  background-color: #333;

  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 24px;
}

#d3 {
  /*display: none;*/
  /*border: 20 solid white;*/
}

#audio {
  display: none;
}

/* svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
} */

/* .performer {
  fill:   #fff;
  stroke: #13294b;
  text:   #13294b;
} */
