html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  /*overflow: hidden;*/
  background-color: #eee;
}

.field-card.mdl-card,
.status-card.mdl-card,
.music-card.mdl-card {
  width: 100%;
  text-align: center;
}

.mdl-card__media {
  background-color: #fff !important;
}

#metronome {
  display: none;
}

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

canvas {
  border: 1px solid black;
}

/* .performer {
  fill:   #fff;
  stroke: #13294b;
  text:   #13294b;
} */
