html,
body {
  width: 100%;
  height: 100%;
}

.navbar-container {
  height: 64px;
  z-index: 1030;
}
.navbar {
  min-height: 64px;
}
.tab-content {
  flex: 1 1 auto;
  height: 0;
}
#drill {
  overflow: hidden;
}
svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

.status-element {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.status-element span {
  color: #fff;
  opacity: 0.5;
}
.status-element:hover span {
  opacity: 0.75;
}

.zmdi {
  width: 16px;
}


.field-line-width {
  stroke-width: 0.333333;
}
.field-step-lines {
  stroke-width: 0.1;
}
.field-zero-lines {
  stroke-width: 0.125;
}
.field-numbers {
  font-family: Helvetica;
  font-size: 6px;
  line-height: 1;
}
.field-performer {
  cursor: pointer;
}
.field-performer-text {
  font-family: Helvetica;
  font-size: 1px;
}
.field-performer-circle {
  stroke-width: 0.1;
}


.field-theme-bw .field-turf,
.field-theme-bw .field-endzone,
.field-theme-bw .field-lines,
.field-theme-bw .field-step-lines,
.field-theme-bw .field-zero-lines {
  fill: #fff;
  stroke: #444;
}
.field-theme-bw .field-step-lines {
  opacity: 0.1;
}
.field-theme-bw .field-zero-lines {
  opacity: 0.2;
}
.field-theme-bw .field-zero-points,
.field-theme-bw .field-numbers,
.field-theme-bw .field-performer.selected .field-performer-text {
  fill: #444;
}
.field-theme-bw .field-performer .field-performer-circle {
  fill: #444;
  /*stroke: #444;*/
}
.field-theme-bw .field-performer.selected .field-performer-circle {
  fill: #ff0;
  stroke: #444;
}
.field-theme-bw .field-performer .field-performer-text {
  fill: #fff;
}


.field-theme-color .field-turf,
.field-theme-color .field-endzone,
.field-theme-color .field-lines,
.field-theme-color .field-step-lines,
.field-theme-color .field-zero-lines {
  stroke: #fff;
}
.field-theme-color .field-turf {
  fill: #689f38;
}
.field-theme-color .field-endzone {
  fill: #e04e39;
}
.field-theme-color .field-step-lines {
  opacity: 0.2;
}
.field-theme-color .field-zero-lines {
  opacity: 0.4;
}
.field-theme-color .field-zero-points {
  fill: #66f;
}
.field-theme-color .field-numbers,
.field-theme-color .field-performer .field-performer-text,
.field-theme-color .field-performer.selected .field-performer-text {
  fill: #fff;
}
.field-theme-color .field-performer .field-performer-circle {
  fill: #13294b;
  /*stroke: #13294b;*/
}
.field-theme-color .field-performer.selected .field-performer-circle {
  fill: #e04e39;
  stroke: #fff;
}
