html,
body {
  /*margin: 0;*/
  /*width: 100%;*/
  /*height: 100%;*/
  overflow: hidden;
  /*background-color: #eee;*/
}

/* this part adds an icon after external links, using FontAwesome*/
/* a[href^="http://"]:after, a[href^="https://"]:after {
    content: "\f08e";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: none;
    padding-left: 3px;
} */

/* .field-container {
  display: inline-block;
  height: 100%;
  position: relative;
  width: 100%;
  padding-bottom: 100%;
  vertical-align: top;
  overflow: hidden;
}
.field-svg {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
} */

svg {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
  line-height: 1;
}

.zmdi {
  width: 16px;
}
/* .zmdi-play {
  width: 8px;
} */

.field-line-width {
  stroke-width: 0.333333;
}
.field-turf.field-theme-bw {
  fill: #fff;
  stroke: #000;
}
.field-turf.field-theme-color {
  fill: #689f38;
  stroke: #fff;
}

.field-endzone.field-theme-bw {
  fill: #fff;
  stroke: #000;
}
.field-endzone.field-theme-color {
  fill: #e04e39;
  stroke: #fff;
}

.field-zero-lines {
  stroke-width: 0.2;
  opacity: 0.8;
}
.field-zeros.field-theme-bw {
  stroke: #000;
}
.field-zeros.field-theme-color {
  stroke: #fff;
}

.field-lines.field-theme-bw {
  stroke: #000;
}
.field-lines.field-theme-color {
  stroke: #fff;
}

.field-numbers.field-theme-bw {
  fill: #000;
}
.field-numbers.field-theme-color {
  fill: #fff;
}

/* .performer {
  fill:   #fff;
  stroke: #13294b;
  text:   #13294b;
} */
